<div class="container">
  <div class="row">
    <div>
      <h2 class="title description p-5">
        <br />
        <br />
        Uno zaino all'avanguardia con un look unico che genera attenzione
      </h2>
    </div>

    <img
      src="https://m.media-amazon.com/images/I/61RnlhL-OzL._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />

    <img
      class="ml-5 mt-5"
      src="https://m.media-amazon.com/images/I/61wZg4bdy-L._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />
    <span class="description p-5">
      <br />
      <br />
      Dal design moderno e di tendenza è perfetto per tenere al sicuro tutte le
      tue esigenze di trasporto quotidiane
    </span>

    <span class="description p-5">
      <br />
      <br />
      La sua grande capacità e la tasca frontale sono perfette per contenere
      tutti i tuoi dispositivi elettronici
    </span>
    <img
      class="mt-5 mb-5"
      src="https://m.media-amazon.com/images/I/61J5RGKm1rL._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />

    <img
      src="https://m.media-amazon.com/images/I/61b7Ml5TMML._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />
    <span class="description p-5">
      <br />
      <br />
      La sua robusta imbottitura garantisce comfort e resistenza anche a viaggi
      di lunga durata
    </span>
    <span class="description p-5">
      <br />
      <br />
      Il suo design elegante si combinera con qualsiasi outfit, rendendolo un
      accessorio basic versatile
    </span>
    <img
      class="mb-5"
      src="https://m.media-amazon.com/images/I/71AIdEhyD7L._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px; border-radius: 15px"
    />
  </div>
  <div class="row mt-5 mb-5">
    <router-outlet></router-outlet>
  </div>
</div>


