<div class="container">
  <div class="row">
    <div>
      <h2 class="title description p-5">
        <br />
        <br />
        Uno zaino realizzato per resistere alla prova del tempo
      </h2>
    </div>

    <img
      src="https://m.media-amazon.com/images/I/71sldEovniL._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />

    <img
      class="ml-5 mt-5"
      src="https://m.media-amazon.com/images/I/71VGioKVD-L._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />
    <span class="description p-5">
      <br />
      <br />
      Fatto di tela resistente agli strappi e fatto di materiale impermeabile
      per mantenere i tuoi beni al sicuro
    </span>

    <span class="description p-5">
      <br />
      <br />
      Il colore mimetico ti garantirà uno stile perfetto per le tue occasioni
      speciali e per la tua quotidianità
    </span>
    <img
      class="mt-5 mb-5"
      src="https://m.media-amazon.com/images/I/71AGBFBU61L._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />

    <img
      src="https://m.media-amazon.com/images/I/715P4lP5orL._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />
    <span class="description p-5">
      <br />
      <br />
      Comfortevole e leggero, sarai in grado di fare anche viaggi di lunga
      durata senza sentirne il fastidio
    </span>
    <span class="description p-5">
      <br />
      <br />
      Il suo design militare si combinera con qualsiasi outfit, rendendolo un
      accessorio basic versatile.
    </span>
    <img
      src="https://m.media-amazon.com/images/I/914TOzfsMRL._AC_SL1500_.jpg"
      alt="Zaino Seven"
      style="width: 400px; border-radius: 15px"
    />
  </div>
  <div class="row mt-5 mb-5">
    <router-outlet></router-outlet>
  </div>
</div>
