<div class="container">
  <div class="row">
    <div>
      <h2 class="title description p-5">
        <br />
        <br />
        Uno zaino progettato per guidare le persone di stile nella loro vita
        quotidiana
      </h2>
    </div>

    <img
      src="https://m.media-amazon.com/images/I/71LB5A9kiyL._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />

    <img
      class="ml-5 mt-5"
      src="https://m.media-amazon.com/images/I/716V7AqLS4L._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />
    <span class="description p-5">
      <br />
      <br />
      Realizzato con materiale di qualità, è prodotto con cuciture precise e
      resistenti creando un pezzo utile ed elegante allo stesso tempo
    </span>

    <span class="description p-5">
      <br />
      <br />
      Dotato di chiusura lampo resistente, tasche interne e spalliere
      regolabili, questo zaino è una soluzione intelligente per la tua vita
      attiva
    </span>
    <img
      class="mt-5 mb-5"
      src="https://m.media-amazon.com/images/I/71at3a-x3cL._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />

    <img
      src="https://m.media-amazon.com/images/I/710TkP5oiXL._AC_SL1160_.jpg"
      alt="Zaino Seven"
      style="width: 400px"
    />
    <span class="description p-5">
      <br />
      <br />
      La sua robusta imbottitura garantisce comfort e resistenza anche a viaggi
      di lunga durata.
    </span>
    <span class="description p-5">
      <br />
      <br />
      Il suo design elegante si combinera con qualsiasi outfit, rendendolo un
      accessorio basic versatile.
    </span>
    <img
      src="https://m.media-amazon.com/images/I/81KSZ1JD-qL._AC_SL1500_.jpg"
      alt="Zaino Seven"
      style="width: 400px; border-radius: 15px"
    />
  </div>
  <div class="row mt-5 mb-5">
    <router-outlet></router-outlet>
  </div>
</div>
